@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;

<h2>Doctor Details</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.DoctorName): @Html.DisplayFor(model => model.DoctorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Doctor has no patients</p>
}
else
{
  <h4>This Doctor's Patients:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Patient.PatientName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to Doctors", "Index")</p>
<p>@Html.ActionLink("Edit Doctor", "Edit", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Delete Doctor", "Delete", new { id = Model.DoctorId })</p>