@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Edit</h2>

<h4>Edit this Doctor: @Html.DisplayFor(model => model.DoctorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DoctorId)

  @Html.LabelFor(model => model.DoctorName)
  @Html.EditorFor(model => model.DoctorName)
  @Html.LabelFor(model => model.DoctorSpecialty)
  @Html.EditorFor(model => model.DoctorSpecialty)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>